{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div id="center">
  <img id="profile_pic" src="{% static 'img/vic.jpg' %}" alt="" width="100%" >
</div>
<p id="center">Hello I'm Victor.</p>
<P>I'm a web developer in training. This website features a collection of my personal and professional projects, mostly from my work as a Flask/ Django developer. My programming skill are Python, HTML & CSS, JavaScript, SQL and C programming language. I'm currently in search of a web developer position to enhance my experience.</p>
{% endblock %}
