{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Projects</h1>
<div class="row ">
{% for project in projects %}
    <div id="project" class="col-md-4">
        <div class="card mb-2">
          <a href="{% url 'project_detail' project.pk %}">
            <img class="card-img-top" src="{% if project.image %}{{ project.image.url }}{% else %}{% static 'img/blank.png' %}{% endif %}" width="100%;">
          </a>
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description | slice:":150" }}</p>
                <a id="readmore" href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
